*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677 ,#4E083A);
    padding: 10px;
}
.todo {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 25px;
}
.todo h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img {
    margin-left: 10px;
    width: 30px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 40px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
}
button {
    background: #ff5946;
    border: none;
    outline: none;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 13px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: "";
    position: absolute;
    background-image: url(images/unchecked.png);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 10px;
    left: 8px;
    background-size: cover;
}
ul li.cheked {
    text-decoration: line-through;
    color: #555;
}
ul li.cheked::before {
    background-image: url(images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 6px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover {
    background-color: #d0d1d3;
    border-radius: 50%;
}